<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Microsoft.ServiceBus.ConnectionString"
            value="Endpoint=sb://phoenix2locsb.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=AjlWyMSbz/LBoaumhpiWTHVuBhl8XYNGWWQG8W7gZm8="/>
    <add key="Microsoft.ServiceBus.Queue.Name" value="consolequeue"/>
  </appSettings>
  
</configuration>