<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Microsoft.ServiceBus.ConnectionString"
            value="Endpoint=sb://demopocns.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=7P91vcKUOn8Wl8UuZFI0+bOBO9f6AbpmlZ7Hr2XO69A="/>
    <add key="Microsoft.ServiceBus.Queue.Name" value="consolequeue"/>
  </appSettings>
  
</configuration>