<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AccountName" value="phoenixv2test" />
    <add key="AccountKey" value="Cy59uV2VV+aE3rLMsO/sGXA6yY7ACiwimQMPPGB76CJC7BZkm0zNmcpPgWKLi6u8bjfqiWmv8MqvMSWol+XxtA==" />
    <add key="ItemTableName" value="ItemDetails" />
    <add key="EncryptionKey" value="keyprivate1" />
    <add key="KeyVaultUri" value="https://kv-phoenix2-dev.vault.azure.net" />
    <add key="KeyVaultClientId" value="eb8bfa75-d5f0-490a-8cce-d449ccbb1098" />
    <add key="KeyVaultClientCertificateThumbprint" value="8082A0032ECF09E2DE1D44BFB1026FF6E1E8FD88" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>